apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
spec:
  replicas: 2   # nombre de pods
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
     # imagePullSecrets:
     # - name: gcr-json-key   # <-- le nom du secret créé
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  type: LoadBalancer   # crée une IP publique (sur GKE)
  selector:
    app: nginx
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
